@model Product

<h1>Delete Product</h1>

<h3>Are you sure you want to delete this product?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">List Item</dt>
        <dd class="col-sm-10">@Model.ListItem</dd>
        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price.New</dd>
        <dt class="col-sm-2">Image URL</dt>
        <dd class="col-sm-10">@Model.ImageUrl</dd>
        <dt class="col-sm-2">Rating</dt>
        <dd class="col-sm-10">@Model.Rating</dd>
        <dt class="col-sm-2">Discount</dt>
        <dd class="col-sm-10">@Model.Discount</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


